<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.Указываем в каком пакете сканировать классы, для создания бинов
    в spring application context-->
    <context:component-scan base-package="com.example.springbeanannotations.components"/>

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

</beans>